body {
  font-size: 20px;
}

.fill-content {
  @media screen and (min-width: 550px) {
    margin: 0 auto;
    min-height: 100vh;
    width: 1200px;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}
