.estimate {
  height: 50px;
  background-color: #f70;
  font-size: 16px;
  margin-bottom: 10px;
  .title {
    float: left;
    width: 134px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
  }
  ul {
    float: left;
    height: 100%;
    @media screen and (max-width: 550px) {
      width: fit-content;
      overflow: scroll;
      margin-left: 8px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    li {
      line-height: 50px;
      margin: 0 16px;
      float: left;
      font-size: 16px;
      @media screen and (max-width: 550px) {
        font-size: 10px;
        line-height: 22px;
        margin: 0 4px;
      }
    }
  }
}
.content {
  min-height: 642px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 30px;
  .content-title {
    font-weight: bold;
    text-align: center;
    color: #333;
    font-size: 20px;
  }
  .rules {
    p {
      font-size: 14px;
      font-weight: 700;
    }
    ul {
      .rule-item {
        line-height: 30px;
      }
    }
  }
}

.time {
  margin-top: 20px;
  p {
    font-size: 14px;
    font-weight: 700;
  }
  .limit-time {
    font-size: 18px;
    font-weight: 700;
    color: #e53333;
  }
  .tips {
    font-size: 14px;
    line-height: 30px;
  }
}

.test-info {
  margin-top: 20px;
  p {
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    &::before {
      content: '';
      float: left;
      height: 14px;
      margin-top: 8px;
      width: 3px;
      background-color: #000;
      margin-right: 4px;
    }
  }
}

.btn-test {
  margin-top: 50px;
  height: 50px;
  width: 170px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: #CC4935;
  border-radius: 6px;
  @media screen and (max-width: 550px) {
    margin: 50px auto 0;
  }
}